# Use this for testing the installed gitproj
# Testing changes will be made to .gitproj-test.config, not .gitproj.config

# Test script will copy file xxx to ~/.gitproj-test.config
# And put this path in ~/.gitconfig (after path = .gitproj.config)
# Went the testing is done, the include path will be removed.
#[include]
#	path = .gitproj-test.config

[gitproj "test"]
	# Use this for testing the installed gitproj
	# Most paths here are absolute
	# Change test-proj path or make a symlink to a testing area
	test-proj = /tmp/gitproj-test
	test-dir = /usr/share/doc/git-proj/test
