# Copy this file to ~/.gitproj.config
# Then put this in ~/.gitconfig
#[include]
#	path = .gitproj.config

[gitproj "config"]
	ver = 1.0
	syslog = yes
	facility = user
	# git --exec-path
	bin = /usr/lib/git-core
	doc = /usr/share/doc/git-proj
	# Relative to top-dir, create: dir/Name.raw
	raw-dir = ..
	# Relative to top-dir; create: ln -s dir/Name.raw symlink
	raw-symlink = raw
[gitproj "hook"]
	# This is relative to gitproj.config.doc
	source = hooks
	pre-commit-enabled = yes
	check-file-names = yes
	check-for-big-files = yes
	# Bytes, or use K, M, G
	binary-file-size-limit = 1K
