# Copy this file to gitproj/config.$HOSTNAME
# Then put this in .git/config
#[include]
#	path = gitproj/config.$HOSTNAME
	
[gitproj "project"]
	# "git proj init" will set initial values.
	# Check, change, fix with "git proj config"
	name = TBD
	# git rev-parse --show-toplevel
	top-dir = ~/TBD
	# If the following is then same, then set hardlink to yes
	# df -BM top-dir --output=source | tail -n 1
	# df -BM raw-dir --output=source | tail -n 1
	hardlink = no
	# Mount examples
	raw-url = /MOUNT-DIR/DIR/TBD.raw
	# Sync this with: remote.origin.url
	origin-url = /MOUNT-DIR/DIR/TBD.git
	# Remote examples
	#raw-url = joe@example.com:/repo/git/video-2021-09-24/NAME.raw
	#origin-url = USER@example.com:/repo/git/video-2021-09-24/NAME.git
	#origin-url = git@github.com:TurtleEngr/gitproj.git
[gitproj "config"]
	# Relative to top-dir, create: dir/Name.raw
	raw-dir = ..
	# Relative to top-dir; create: ln -s dir/Name.raw symlink
	raw-symlink = raw
[gitproj "hook"]
	pre-commit-enabled = yes
	check-file-names = yes
	check-for-big-files = yes
	# Bytes, or use K, M, G
	binary-file-size-limit = 2M
