# Use this for testing the installed gitproj
# Testing changes will be made to .gitproj-test.config, not .gitproj.config
# Note: for testing $HOME will be changed to the test home.

# Test script will copy file xxx to ~/.gitproj-test.config
# And put this path in ~/.gitconfig (after path = .gitproj.config)
# Went the testing is done, the include path will be removed.
#[include]
#	path = .gitproj.config
#	path = .gitproj-test.config
