# Use this for testing from the gitproj clone repo
# Testing changes will be made to .gitproj-test.config, not .gitproj.config
# Note: for testing $HOME will be changed to the test home.

# Copied to ~/.gitproj-test.config
# GIT_DIR will be replaced when gitproj-com.test is run
# Then put this in ~/.gitconfig (after path = .gitproj.config)
#[include]
#	path = .gitproj.config
#	path = .gitproj-test.config

[gitproj "config"]
	syslog = no
	bin = GIT_DIR/git_core
	doc = GIT_DIR/doc
[gitproj "hook"]
	# Set PATH to: git --exec-path
	source = GIT_DIR/doc/hooks
