# Use this for testing from the gitproj clone repo
# Copy this file to ~/.gitproj-test.config
# Adjust replace GIT_DIR with the location of the gitproj clone
# Then put this in ~/.gitconfig (after path = .gitproj.config)
#[include]
#	path = .gitproj.config
#	path = .gitproj-test.config

[gitproj "test"]
	test-proj = GIT_DIR/../test-proj
	test-dir = GIT_DIR/test
[gitproj "config"]
	syslog = no
	bin = GIT_DIR
	doc = GIT_DIR
[gitproj "hook"]
	# Set PATH to: git --exec-path
	source = GIT_DIR/hooks
