# Use this for testing from the gitproj clone repo
# Note: for testing $HOME will be changed to the test home.

# Copied to ~/.gitproj-test.config
# GIT_DIR will be replaced with output from:
# git rev-parse --show-toplevel
# Then put this in ~/.gitproj.config (after path = .gitproj.config)
#[include]
#	path = .gitproj-test.config

[gitproj "config"]
	syslog = no
	bin = GIT_DIR/git_core
	doc = GIT_DIR/doc
	test = GIT_DIR/doc/test
[gitproj "hook"]
	# Set PATH to: git --exec-path
	source = GIT_DIR/doc/hooks/pre-commit
